@{
    ViewData["Title"] = "Conversor";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ConversionWebMVC.ViewModels.UsuarioDivisasViewModel

<div class="text-center">
    <!DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" type="text/css" href="slide navbar style.css">
    </head>
<body>
        

<div style="margin-top:-160px;">

    <h1 class="display-4" style="display: inline;"> <a>Conversion</a></h1>

    &nbsp;&nbsp;&nbsp;<h2 style="display: inline;"> <a class="adicional" asp-action="IrAHistorico">Divisas</a> </h2>

    <a asp-action="Index" asp-route-email="@User.Identity.Name">Ver Historial</a>

            &nbsp;&nbsp;&nbsp;<h2 style="display: inline;"> <a class="adicional" asp-action="IrAHistorico2">Historico</a> </h2>
</div>

<div class="text-center" style="height:100%; padding:5px; margin-top:20px; ">

    <form method="post" id="conversionForm" asp-action="ConvertirMoneda">

        <div>
             <div class="inline-container">
                 <label >Divisa 1:</label>
             </div>
             <div class="inline-container">
                 <select id="Divisa1"  asp-for="divisa1">
                     <option value="USD">EE.UU. Dólar|USD</option>
                     <option value="EUR">Euro|EUR</option>
                     <option value="GBP">Libra esterlina|GBP</option>
                     <option value="JPY">Japón Yen|JPY</option>
                     <option value="RUB">Rusia Rublo|RUB</option>
                     <option value="MAD">Marruecos Dirham|MAD</option>
                     <option value="CHF">Suiza Franco|CHF</option>
                     <option value="AUD">Australia Dólar|AUD</option>
                 </select>
             </div>
        </div>
        <div>
             <div class="inline-container">
                 <label >Cantidad:</label>
             </div>
             <div class="inline-container">
                 <input type="text"  asp-for="valorInicial" style="width:50px;" >
                 <input type="text" asp-for="email" hidden value="@ViewBag.email" style="width:50px;">
             </div>
        </div>

       

        <div>
            <div class="inline-container">
                <label>Divisa 2:</label>
            </div>
            <div class="inline-container">
                <select id="Divisa2" asp-for="divisa2">
                    <option value="USD">EE.UU. Dólar|USD</option>
                    <option value="EUR">Euro|EUR</option>
                    <option value="GBP">Libra esterlina|GBP</option>
                    <option value="JPY">Japón Yen|JPY</option>
                    <option value="RUB">Rusia Rublo|RUB</option>
                    <option value="MAD">Marruecos Dirham|MAD</option>
                    <option value="CHF">Suiza Franco|CHF</option>
                    <option value="AUD">Australia Dólar|AUD</option>
                </select>
            </div>

                    <br>
     
                    <br>
                    <br>
        </div>
        <button type="submit" >Convertir</button>

@if(@Model.valorFinal != 0)
                        {
@*<div><b>EL resultado es: @Model.valorFinal @Model.valorFinal</b></div>*@
 @Model.valorFinal
                        }
     
    
    </form>
</div>

    </body>
</html>
</div>



