@model IEnumerable<ConversionWebMVC.Models.HistoricoModel>

@{
    ViewData["Title"] = "Index";
}
@{
    string userEmail = TempData["email"] as string; 
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tiempo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreUsuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(h => h.NombreUsuario == userEmail))
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tiempo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreUsuario)
            </td>
            <td>

            </td>
        </tr>
}

        <a asp-action="VolverAHome">Volver</a>
       
    </tbody>
</table>
